In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:

engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [4]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [6]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [7]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [8]:
df.to_sql(name='taxi_zone', con=engine, index=False)

265

In [9]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [10]:
df2 = next(df_iter)

In [11]:
df2.lpep_pickup_datetime = pd.to_datetime(df2.lpep_pickup_datetime)
df2.lpep_dropoff_datetime = pd.to_datetime(df2.lpep_dropoff_datetime)

In [12]:
print(pd.io.sql.get_schema(df2, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df2.head(n=0).to_sql(name='green_taxi', con=engine, if_exists='replace')

0

In [14]:
df2.to_sql(name='green_taxi', con=engine, if_exists='append')

1000

In [15]:
from time import time

In [16]:
while True:
    try:
        t_start = time()
        df2 = next(df_iter)

        df2.lpep_pickup_datetime = pd.to_datetime(df2.lpep_pickup_datetime)
        df2.lpep_dropoff_datetime = pd.to_datetime(df2.lpep_dropoff_datetime)

        df2.to_sql(name='green_taxi', con=engine, if_exists='append')
        
        t_end = time()
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except:
        print('Finished green taxi data insertion to database')
        break

inserted another chunk, took 9.614 second
inserted another chunk, took 9.070 second

/tmp/ipykernel_6368/2138220853.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = next(df_iter)

inserted another chunk, took 9.434 second
inserted another chunk, took 6.056 second
Finished green taxi data insertion to database